cmp__upload_files {
	display: flex;
	flex: 1;
}

cmp__upload_files .cmp__dropbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	border: 2px dashed #bbb;
	border-radius: 5px;
  margin: 35px;
	font: 21pt bold arial;
  color: #bbb;
	background: transparent;
}

cmp__upload_files .cmp__dropbox button {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: transparent;
	border: none;
	cursor: pointer;
	opacity: .6;
	transition: opacity 1s;
}

cmp__upload_files .cmp__dropbox button:hover {
	opacity: .8;
}

cmp__upload_files .cmp__dropbox input[type="file"] {
	display: none;
}
